{% extends 'presentacion/masterpage.html' %}

{% load static %}

{% block title %}
    Ernesto Segundo - Blog
{% endblock title %}

{% block content %}
    <main role="main">
		<section class="container my-4">
			<header class="blog-header py-3">
				<div class="row flex-nowrap justify-content-between align-items-center">
					<div class="col-12 text-center">
						<p class="blog-header-logo text-success">Entradas del blog</p>
					</div>
				</div>
			</header>

            <div class="nav-scroller py-1 mb-2">
				<nav class="nav d-flex justify-content-between">
					<p class="font-weight-bold p-2 text-muted">Categorías:</p>
					{% for categoria in categorias %}
						<a class="p-2 text-muted" href="{% url 'categoria_blog' categoria.id %}">{{categoria.nombre}}</a>
					{% endfor %}			
				</nav>
			</div>

			<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
				<div class="col-md-10 px-0">
					<h1 class="display-4 font-italic">{{ultimo_post.titulo}}</h1>
				  	<p class="lead my-3">{{ultimo_post.resumen}}</p>
				  	<p class="lead mb-0"><a href="{% url 'blogid' ultimo_post.id %}" class="text-white font-weight-bold">Continuar lectura...</a></p>
				</div>
			</div>

			<div class="row mb-2">
				{% for post in posts %}
				<div class="col-md-6">
					<div class="card flex-md-row mb-4 box-shadow h-md-250">
						<div class="card-body p align-items-start">
							{% for categoria in post.categorias.all %}
								{% if categoria.id|divisibleby:2 %}
									<strong class="d-inline mb-2 text-primary mr-2">{{categoria.nombre}}</strong>
								{% else %}
									<strong class="d-inline mb-2 text-secondary mr-2">{{categoria.nombre}}</strong>
								{% endif %}
							{% endfor %}	
							<h3 class="mb-0"><a class="text-success" href="{% url 'blogid' post.id %}">{{post.titulo}}</a></h3>
							<div class="mb-1 text-muted">{{post.creado}}</div>
							<p class="card-text mb-auto font-italic"><span class="font-weight-bold">Por:</span> <span class="text-muted">{{post.autor}}</span></p>
							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			
			<ul class="list-group my-4">
				{% for post in posts %}
				<li class="list-group-item">
					<div class="pl-3">
						<div class="pb-3">
							<h5 class="text-success">{{post.titulo}}</h5>
							<p class="text-right font-italic"><span class="font-weight-bold">Por:</span> <span class="text-muted">{{post.autor}}</span></p>
							<p class="summary-text text-justify rounded"><cite>{{post.resumen}}</cite></p>
							<p class="font-italic d-inline"><span class="font-weight-bold">Categorias:</span></p>				
							{% for categoria in post.categorias.all %}
								<a class="text-lowercase bg-secondary rounded mx-1 px-2 text-white" href="{% url 'categoria_blog' categoria.id %}">{{categoria.nombre}}</a>				
							{% endfor %}			
							<p class="font-italic"><span class="font-weight-bold">Creado el:</span> <span class="text-muted text-lowercase">{{post.creado}}</span></p>
							<div class="text-right"><a href="{% url 'blogid' post.id %}" class="btn btn-success">Leer más</a></div>
						</div>
					</div>	
				</li>
				{% endfor %}
			</ul>
        </section>
	</main>
{% endblock content %}